<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle2">Edit event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editEventForm" (submit)="editEvent($event)">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input type="text"
                     class="form-control"
                     [value]="sModal.inputTitle"
                     placeholder="Event title"
                     #inputTitle (keyup)="sModal.inputTitle = inputTitle.value"
                     required>
            </div>
            <input type='hidden' [value]="sModal.inputAuthor" #inputAuthor (keyup)="sModal.inputAuthor = inputAuthor.value" />
            <input type='hidden' [value]="sModal.inputId" #inputId (keyup)="sModal.inputId = inputId.value"  />
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Color</label>
            <div class="col-sm-10">
              <select class="form-control" [value]="sModal.inputColor" #inputColor (change)="sModal.inputColor = inputColor.value" required>
                <option>blue</option>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
              <input [ngClass]="{'is-invalid': !yearValid}" type='datetime-local' class="form-control" [value]="sModal.inputDate" #inputDate (keyup)="sModal.inputDate = inputDate.value" required/>
              <div class="invalid-feedback">
                Year too big.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" form="editEventForm">Save event!</button>
      </div>
    </div>
  </div>
</div>
