<div class="form-body text-center" (submit)="registration($event)">
  <form class="form-signin">
    <div [ngClass]="{'invisible': !error}" class="alert alert-danger" role="alert">{{errorMessage}}</div>
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <input type="password" id="inputCPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block form-button" type="submit">Sign up</button>
    <button class="btn btn-lg btn-secondary btn-block form-button" routerLink="/">Back</button>
  </form>
</div>
