<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home" >Home</a>
      </li>
    </ul>

    <ul class="navbar-nav">

      <div *ngIf="this.fAuth.auth.currentUser; then showLogout else showLogin"></div>

      <ng-template #showLogin>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/registration">Registration</a>
        </li>
      </ng-template>

      <ng-template #showLogout>
        <li class="nav-item">
          <a href='#' class="nav-link" (click)="logout()">Logout ({{this.fAuth.auth.currentUser.email}})</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
