.form-body {
  position: absolute;
  left: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-top: 10px;
}

.form-button {
  margin-top: 10px;
}

.event-blue {
  border-left-width: 8px;
  border-left-color: blue;
}

.event-red {
  border-left-width: 8px;
  border-left-color: red;
}

.event-yellow {
  border-left-width: 8px;
  border-left-color: yellow;
}

.event-green {
  border-left-width: 8px;
  border-left-color: green;
}

.event-buttons {
  position: absolute;
  right: 10px;
  top: 5px;
  bottom: 5px;
}

.event-old {
  text-decoration: line-through;
}

.span-line {
  display: none;
}

@media (max-width: 576px) {
  .span-line {
    display: block;
  }
}
