<app-navigation></app-navigation>

<div class="row mt-1">
    <div class="{{!!fAuth.auth.currentUser ? 'col-sm-8 col-md-8 col-lg-10' : 'col'}}">
      <input #search class="form-control mt-2" type="search" placeholder="Search" aria-label="Search" (keyup)="updateSearch(search.value)">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-2" *ngIf="!!fAuth.auth.currentUser">
      <button type="button" class="btn btn-outline-success mt-2" data-toggle="modal" data-target="#addEventModal"><i class="fas fa-plus"></i></button>
    </div>
</div>

<div class="row mt-1">
  <ul class="list-group w-100 m-3">
    <li [ngClass]="{'event-old': event.old}" class="list-group-item event-{{event.color}}" *ngFor="let event of filteredEvents; index as i">
      {{event.title}}
      <br class="span-line"/><span class="text-muted">({{ getDate(event.date) | date:'dd.MM.yyyy HH:mm' }})</span>
      <div class="btn-group event-buttons" *ngIf="!!fAuth.auth.currentUser">
        <button type="button" class="btn btn-outline-primary" (click)="editEvent(i)"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteEvent(i)"><i class="fas fa-minus"></i></button>
      </div>
    </li>
  </ul>
</div>

<app-add-event-modal></app-add-event-modal>
<app-edit-event-modal></app-edit-event-modal>

